.icon-lg {
  max-width: 300px; }

body {
  font-family: 'Varela Round';
  color: white; 
  background-color:#404041;
}
h1 {
  font-weight: bold;
  font-size: 36px; }

#navbar-center {
  margin: 0px auto;
  font-size: 20px;
  float: left;
  text-align: center; 
transform: translate(-50px, 0)
}

@media (max-width: 767px) {
  #navbar-center {
    width: 100%;
    text-align: center;
    padding-left: 18px; } }
#navbar-logo-nav {
  width: 100px;
  height: 100px; }

#navbar-logo {
  width: 70px;
  height: 70px; }

#navbar-logo-brand {
  width: 100px;
  height: 100px;
  display: none; }

@media (max-width: 767px) {
  #navbar-logo-brand {
    width: 75px;
    height: 75px;
    display: block; } }
#navbar-toggle {
  margin-top: 20px; }

.navbar-link-offset {
  margin-top: 25px;
  color: white !important;}

@media (max-width: 767px) {
  .navbar-link-offset {
    margin-top: 0px; } }
.navbar-link-offset:hover{
  color:#00aeef !important;
}
.text-white {
  color: white; !important}

.active {
  color: #00aeef !important;
 }

#billboard {
  height: 100vh; }

@media (max-width: 767px) {
    #billboard {
        background: url('/assets/img/background.png') center center / cover no-repeat;
    }
}
@media (max-height: 480px) {
  #billboard {
    background: url('/assets/img/background.png') center center / cover no-repeat;
    height: 450px; } }

.fullscreen-bg-video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
@media (max-width: 767px) {
    .fullscreen-bg-video {
        display: none;
    }
}
#video-trailer-container {
  width: 100%;
  background-color: #404041;}
#video-trailer {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.div-blue {
  background-color: #00aeef;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 5px solid white;
  border-top: 5px solid white; }

.div-white {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #404041; }

.div-grey {
  background-color: #404041;
  padding-top: 50px;
  padding-bottom: 50px; }

.link-blue {
  color: #00aeef; }

.link-blue:hover {
  color: #00aeef; }

.link-white {
  color: white !important; }

.link-white:hover {
  color: white !important; }

.link-grey {
  color: #404041; }

.link-grey:hover {
  color: #404041; }

.spacing-bottom {
  margin-bottom: 50px; }

.spacing-top {
  margin-top: 50px; }

.spacing-both {
  margin-top: 50px;
  margin-bottom: 50px; }

.spacing-top-sm {
  margin-top: 25px; }

@media (max-width: 767px) {
  .spacing-top {
    margin-top: 25px; } }
.spacing-bottom-sm {
  margin-bottom: 25px; }

.spacing-both-sm {
  margin-top: 25px;
  margin-bottom: 25px; }

.image-padded {
  padding: 25px; }

@media (max-width: 991px) {
  .small-heading-center {
    text-align: center; } }
#navbar-fill {
  height: 100px; }

@media (max-width: 767px) {
  #navbar-fill {
    height: 75px; } }
#billboard-content {
  position: relative;
  height: 100vh; }

#down-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -44px;
  margin-bottom: 25px; }

@media (max-width: 991px) {
  #down-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -28px;
    margin-bottom: 25px; } }
@media (max-height: 480px) {
  #down-arrow {
    position: relative;
    left: 50%; } }
#billboard-mid {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50vh);
  width: 90%;
  margin-top: -15vh; }

@media (max-height: 480px) {
  #billboard-mid {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    margin-top: 20px; } }
@media (max-height: 768px) {
  #billboard-mid {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    margin-top: 20px; } }
.btn {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: none; 
  border: 0px;
  font-weight: 400 !important;}
@media (max-width: 991px) {
  .btn {
    width: 100%; } }
.btn-default {
  color: white !important;
  background-color: #404041 !important; }

#up-arrow {
  color: white !important;
  position: absolute;
  bottom: 0;
  right: 0; }

.footer-mid {
  position: relative; }

.arrows {
  width: 80px;
  height: 80px; }

@media (max-width: 991px) {
  .arrows {
    width: 50px;
    height: 50px; } }
@media (max-width: 991px) {
  #social-links {
    max-width: 300px; } }
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top; }

.navbar .navbar-collapse {
  text-align: center; 
  margin-left:-20px;}
  

.input-lg {
  width: 100%;
  color: #404041; }

#btn-blue {
  background-color: #00aeef !important; }

.align-right {
  float: right; }

.align-left {
  float: left; }

#contact-bg {
  background-image: url(../../assets/img/motherboard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.spacing-right-sm {
  margin-right: 25px; }

.spacing-left-sm {
  margin-left: 25px; }

#contact-buttons {
  margin: 0px auto !important;
  width: 100% !important;
  text-align: center !important; }

#contact-buttons {
  margin: 0px auto !important;
  width: 100% !important;
  text-align: center !important; }

#contact {
  padding-left: 7px;
  padding-right: 7px; }

#message {
  font-size: 12px !important; }

.project-container {
  position: relative;
  height: auto;
  min-height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
  -webkit-transition: .75s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .75s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .75s ease-in-out;
  filter: grayscale(100%); }
.project-container:hover{
   filter: none;
  -webkit-filter: grayscale(0%);
  -webkit-transition: .75s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .75s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .75s ease-in-out;
  filter: grayscale(0%);
}
.project-container-expanded {
  position: relative; }

.project-desc {
  position: absolute;
  bottom: 0; }

#project1 {
  background-image: url(../../assets/img/photo1.jpg);
}

#project2 {
  background-image: url(../../assets/img/photo2.jpg);
  }
#project3 {
  background-image: url(../../assets/img/photo3.jpg);
 }

#project4 {
  background-image: url(../../assets/img/photo1.jpg);
 }

#project5 {
  background-image: url(../../assets/img/photo2.jpg);
  }

#project6 {
  background-image: url(../../assets/img/photo3.jpg);
  }

#project7 {
  background-image: url(../../assets/img/photo1.jpg);
 }

#project8 {
  background-image: url(../../assets/img/photo2.jpg);
  }

#project9 {
  background-image: url(../../assets/img/photo3.jpg);
 }

.social-icon {
  max-width: 200px; }

@media (max-width: 991px) {
  .social-icon-spacing-bottom-sm {
    margin-bottom: 20px; } }
@media (min-width: 992px) {
  .social-icon-spacing-bottom-sm {
    margin-bottom: 20px; } }
@media (min-width: 992px) {
  .social-icon-spacing-top {
    margin-top: 70px; } }
@media (max-width: 991px) {
  .social-icon-spacing-top2 {
    margin-top: 20px; } }
@media (min-width: 992px) {
  .social-icon-spacing-top2 {
    margin-top: 20px; } }
@media (max-width: 991px) {
  .social-icon-spacing-top {
    margin-top: 60px; } }
@media (min-width: 992px) {
  .social-icon-spacing-top-sm {
    margin-top: 15px; } }
@media (max-width: 991px) {
  .social-icon-spacing-top-sm {
    margin-top: 15px; } }
.social-icon-spacing-left {
  margin-left: 10px; }

.social-icon-spacing-right {
  float: right !important; }

#message {
  font-size: 12px !important; }

#social-background {
  background-image: url(../../assets/img/lines.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
.divider:hover{
  color:
}

.g-recaptcha{
  display:inline-block;
}

.navbar-divider {
  color:grey;
  margin-top:29px;
}

.back-to-top:hover {
  color:white !important;
}

.recent-posts{
  list-style-type: none;
  width:100%;
  padding: 0px !important;
  margin: 0px !important;
}
.post-titles, .post-titles:hover{
  color:#404041 !important;
}