body{
  font-family:Ubuntu;
}

#custom-navbar{
  background-color:#23262e !important;
  height:75px;
  padding-top:10px;
  margin-bottom:0;
  border-radius:0;
  background-image:none;
}

#custom-nav-brand{
  width:200px;
}

.custom-nav-item{
  color:#9b9ea6 !important;
  text-decoration:none !important;
  background-color:#23262e !important;
}

.custom-nav-item:hover{
  color:white !important;
  text-decoration:underline !important;
}

#billboard{
  background-image:url("../../assets/img/billboard.png");
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  min-height:640px;
  margin-top:75px;
}

.div-green{
  background-color:#7fbc42;
}

.div-blue{
  background-color:#3e4351;
  background-image:url("../../assets/img/texture.png");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

.div-white{
  background-color:white;
}

.div-darkblue{
  background-color:#23262e;
}

.div-placeholder{
  height:100px;
}

.div-grey{
  background-color:#f6f7f7;
  border:1px solid #9b9ea6;
  padding:18px;
  margin-top:25px;
  margin-bottom:25px;
}

.text-white{
  color:white;
}

.text-grey{
  color:#9b9ea6;
}

.text-lightgrey{
  color:#ebebeb;
}

.text-blue{
  color:#3e4351;
}

.text-darkblue{
  color:#23262e;
}

.button-blue{
  background-color:#3e4351;
  border:2px solid #23262e;
  background-image:none;
  color:white;
  padding:10px 0px;
  border-radius:25px;
  text-shadow:none;
  width:250px;
  text-align:center;
}

.button-green{
  background-color:#7fbc42;
  border:2px solid #79a540;
  background-image:none;
  color:white;
  padding:10px 0px;
  border-radius:25px;
  text-shadow:none;
  width:250px;
  text-align:center;
}

#search{
  border:2px solid #9b9ea6;
  color:#9b9ea6;
  padding:10px 50px 10px 25px;
  border-radius:25px;
  background:white url("../../assets/img/search.svg") no-repeat;
  background-position:top right 15px;
}

h1{
  font-weight:bold;
}

.spacing-small-both{
  padding-top:15px;
  padding-bottom:7px;
}

.spacing-small-bottom{
  padding-bottom:20px;
}

.spacing-small-top{
  padding-top:20px;
}

.spacing-medium-both{
  padding-top:50px;
  padding-bottom:50px;
}

.spacing-large-both{
  padding-top:100px;
  padding-bottom:100px;
}

.spacing-large-top{
  padding-top:50px;
}

.icon-large{
  height:100px;
  float:left;
}

.icon-medium{
  height:75px;
  float:left;
}

.icon-small{
  height:35px;
  display:inline-block;
}

table td{
  border-top:none !important;
}

a{
  color:white;
  text-decoration:underline;
}

a:hover{
  color:#9b9ea6;
}

#language{
  background-image:url('../../assets/img/map.svg');
  background-size:cover;
}

@media (max-width:991px) {
  #footer-links{
    text-align:center;
  }
}

@media (max-width:991px) {
  #social-media{
    text-align:center;
    margin:50px 0px;
  }
}

@media (max-width:991px) {
  #copyright{
    text-align:center;
  }
}

#active{
  background-color:#7fbc42 !important;
  background-image:none;
  color:white !important;
  text-shadow:none;
  box-shadow:none;
}

